.roboto {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }

.left {
        margin-left: auto;
        
    }   

.link {

    font-size:large;
    font-style: italic;
    color:lavender;
}